*{
    box-sizing: border-box;
}

#container{
    width: 1024px;
    margin: auto;
    background-color: #d3d3d3;

    font-family: sans-serif;
}

a{
    color: #800000;
    text-decoration: none;
}

/** Style du header et du footer */
header, footer{
    background-color: #808080;
    padding: 40px 20px;
}

.site-title h1{
    color: black; /* equivalent 1 */
    color: rgb(0,0,0); /* equivalent 1 */
    color: #000000; /* equivalent 1 */

    font-size: 30px;
    font-weight: 700;
}



.menu, .footer-menu{
    margin-left: 40px;
    margin-top: 20px;
} /* equivalent 2 */
ul{
    margin-left: 40px;
    margin-top: 20px;
} /* equivalent 2 */

.menu-item, .footer-menu-item{
    display: inline-block;
} /* equivalent 3 */

li{
    display: inline-block;
} /* equivalent 3 */

/** Style du main */
#content{
    padding: 40px 20px;
    font-size: 0;
}
article{
    display: inline-block;
    width: 33%;
    padding: 40px 20px;
}

.article-title{
    font-size: 30px;
    color: #000000;
    font-weight: 700;
}

.site-title h1, .article-title{
    font-size: 30px;
    color: #000000;
    font-weight: 700;
}

.article-image{
    width: 100%;
}

.article-extract {
    font-size: 20px;
    text-align: justify;
    margin: 20px 0;
}

.article-link{
    font-size: 20px;
}
